body {
    font-family: Futura, 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: grey;
}

center {
    margin-top: 250px;
}

.searchbar {
    border-radius: 20px;
    display: block;
    width: 550px;
    padding: 10px;
    margin: 10px;
}

h1 {
    font-size: 62pt;
    margin-bottom: 30px;
}

h2 {
    margin: 30px;
    margin-bottom: 80px;
    color: crimson;
}

h3 {
    margin: 30px;
}

.button {
    border-style: none;
    padding: 10px;
    margin: 5px;
}

.links {
    text-align: right;
    margin: 10px;
}

.link {
    margin: 10px;
}

.label {
    text-align: left;
}

.adv-input {
    width: 500px;
    padding: 5px;
    margin: 10px;
}

.adv-button {
    color: azure;
    background-color: blue;
    border-style: none;
    padding: 10px;
    margin: 15px;
    float: right;
}

table {
    margin: 30px;
}