body {
    font-family: Futura, 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: grey;
}

center {
    margin-top: 150px;
}

.searchbar {
    display: block;
    width: 80%;
    resize: horizontal;
    padding: 12px;
    border-radius: 25px;
    margin-bottom: 20px;
    max-width: 600px;
    min-width: 200px;
}

h1 {
    white-space: nowrap;
    font-size: 62pt;
    margin-bottom: 30px;
}

h2 {
    margin: 30px;
    margin-bottom: 80px;
    color: crimson;
}

h3 {
    margin: 30px;
}

.button {
    border-style: none;
    padding: 10px;
    margin: 5px;
}

.links {
    text-align: right;
    margin: 10px;
}

.link {
    margin: 10px;
}

.label {
    color:dimgray;
    font-size: 10pt;
    white-space: nowrap;
    text-align: left;
}

.adv-input {
    display: flex;
    width: 450px;
    flex-grow: 1;
    min-width: 50px;
    padding: 5px;
    margin: 10px;
}

.adv-button {
    color: azure;
    background-color: blue;
    border-style: none;
    padding: 10px;
    margin: 15px;
    float: right;
}

table {
    margin: 30px;
}